<!--Container geral-->
<div class="container">
  <!--Toolbar-->
  <div class="row">
    <div class="col-md-12 bg-purple text-center p-2">
      <h1 class="text-light">Pokemon Showroom</h1>
    </div>
  </div>
  <!-- Bloco inferior-->
  <div class="row">
    <!--Pesquisa-->
    <div class="col-md-4 border">
      <div class="p-2">
        <form action="">
          <input type="text" class="form-control" placeholder="Pesquisar" />
        </form>
      </div>

      <!--Lista Pokemon-->
      <div class="p-2">
        <mat-list *ngFor="let x of listaPokemonInicial">
          <a (click)="detalhe(x.name)"> {{ x.name }}</a>
        </mat-list>
      </div>
    </div>

    <!--Descrição pokemon-->
    <div class="col-md-8 border">
      <!--Box imagem-->
      <div class="p-3">
        <figure>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png"
            width="90"
            alt="Pikachu"
            class="float-left p-3"
          />
        </figure>

        <h2 class="p-2">Teste</h2>

        <!--Box descrição-->
        <div class="box-descricao p-4" *ngFor="let x of listaPokemonDetalhado">
          <h3>Habilidades:</h3>

          <mat-list *ngFor="let x of listaPokemonDetalhado.abilities">
            <mat-list-item> -- {{ x.ability.name }} </mat-list-item>
          </mat-list>

          <h3>Tipos</h3>
          <mat-list *ngFor="let x of listaPokemonDetalhado.types">
            <mat-list-item> -- {{ x.type.name }} </mat-list-item>
          </mat-list>

        </div>
      </div>
    </div>
  </div>
</div>
