<!--Container geral-->
<div class="container">
  <!--Toolbar-->
  <div class="row">
    <div class="col-md-12 bg-purple text-center p-2">
      <h1 class="text-light">Pokemon Showroom</h1>
    </div>
  </div>
  <!-- Bloco inferior-->
  <div class="row">
    <!--Pesquisa-->
    <div class="col-md-4 border">
      <div class="p-2">
        <form action="">
          <input type="text" class="form-control" placeholder="Pesquisar" />
        </form>
      </div>

      <!--Lista Pokemon-->
      <div class="p-2">
        <mat-list *ngFor="let x of listaPokemonInicial">
          <a (click)="detalhe(x.name)"> {{ x.name }}</a>
        </mat-list>
      </div>
    </div>

    <!--Descrição pokemon-->
    <div class="col-md-8 border">
      <!--Box imagem-->
      <div class="p-3">
        <figure>
          <img
            [src]="imagem"
            width="130"
            class="float-left p-3"
          />
        </figure>
        <br><br>
        <h2 class="p-2">{{nomePrincipal}}</h2>

        <!--Box descrição-->

        <div class="box-descricao p-4">
          <h3>Habilidades:</h3>

          <mat-list *ngFor="let x of listaHabilidade">
            <h4> - {{ x.ability.name }} </h4>
          </mat-list>

          <h3>Tipos</h3>
          <mat-list *ngFor="let y of listaTipo">
          <h4> - {{ y.type.name }} </h4>
          </mat-list>

        </div>
      </div>
    </div>
  </div>
</div>
